<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feztal">

    <!-- have full network access -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- take pictures and videos -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- FLASHLIGHT -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!-- directly call phone numbers -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- modify or delete the contents of your SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- read the contents of your SD card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- CLEAR_APP_CACHE -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <!-- CLEAR_APP_DATA -->
    <uses-permission android:name="android.permission.CLEAR_APP_DATA"/>

    <!-- request install packages -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- INSTALL_PACKAGES -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="32"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".splash"
            android:theme="@style/splash"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
		
			<provider
				android:name="android.support.v4.content.FileProvider"
				android:authorities="com.example.android.supportv4.my_files"
				android:grantUriPermissions="true"
				android:exported="false">
				<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/provider_paths" />
			</provider>

        </activity>

        <activity android:name=".SettingActivity"/>

        <activity android:name=".GoogleActivity"
			android:theme="@style/google"/>

        <activity android:name=".FlashActivity"/>

        <activity android:name=".WallpaperActivity"/>

        <activity android:name=".DiscordActivity"/>

        <activity android:name=".CrackedActivity"/>

        <activity android:name=".OpenApps"/>

        <activity android:name=".GrantActivity"/>

        <activity android:name=".ChangelogActivity"/>

        <activity android:name=".CallActivity"/>

        <activity android:name=".ToolMcFRZ"/>

        <activity android:name=".McActivity"/>

        <activity android:name=".RcmActivity"/>

        <service
            android:name="MyWallpaper"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.service.wallpaper.WallpaperService"/>

            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_data"/>

        </service>

    </application>

</manifest>
